<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Angular</li>
        <li>Is</li>
        <li>Amazing</li>
      </ol>
      <h3>First exercise</h3>
      <hr>
      <app-servers></app-servers>
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username">
      <p> {{username}} </p>
      <button
        class="btn btn-primary"
        [disabled]="username === ''"
        (click)="username = ''"> Reset Username </button>
    </div>
  </div>
</div>
